* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: white;
  color: black;
  overflow-y: scroll; /* Ensure the body is scrollable */
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.loading-container {
  position: relative;
  width: 100%;
  min-height: 200vh; /* Ensure the container takes at least double the viewport height */
  overflow: hidden;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* Ensure the background image is behind other content */
}

.center-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Ensure the content takes the full viewport height */
  text-align: center;
  color: white;
}

.image-group {
  display: flex;
  align-items: center;
}

.center-image {
  width: 50px; /* Adjust the size as needed */
  height: auto;
  margin: 0 10px;
}

.typewriter-text {
  font-size: 2rem;
  font-weight: bold;
}

.scroll-text {
  margin-top: 20px;
  font-size: 1rem;
}

.scroll-icon {
  margin-top: 10px;
  width: 30px; /* Adjust the size as needed */
  height: auto;
}

@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

.white-space {
  height: 100vh; /* Add white space equal to the viewport height */
  background-color: white;
}

.extended-background {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100vh; /* Add space equal to the viewport height */
  background-image: url('/pictures/unsplash_FPSrDsq5i20.svg');
  background-size: cover;
  background-position: center;
  z-index: -1; /* Ensure the extended background is behind other content */
}